a:visited{
  color: white;
}
a{
  text-decoration: none;
}

body {
  font-family: Verdana, sans-serif;
  background-color:whitesmoke;
  color: #003ea9;
  margin:0;
}

header {  
  background-color: #003ea9;
  padding: 1rem;
}




